<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{> "systems/antika-v2/templates/actor/parts/actor-header.hbs"}}
  {{> "systems/antika-v2/templates/actor/parts/actor-tabs.hbs"}}

  <section class="sheet-body">
    {{> "systems/antika-v2/templates/actor/parts/actor-features.hbs"}}
    {{> "systems/antika-v2/templates/actor/parts/actor-description.hbs"}}
    {{> "systems/antika-v2/templates/actor/parts/actor-items.hbs"}}
    {{> "systems/antika-v2/templates/actor/parts/actor-spells.hbs"}}
    {{> "systems/antika-v2/templates/actor/parts/actor-effects.hbs"}}
  </section>
</form>
